.profile-info1 {
  font-family: Apple Chancery, cursive;
  font-variant: small-caps;
  text-align: center;
  color: #3e8f03;
}
.profile-info2 {
  font-family: DejaVu Sans monospace;
  text-align: center;
  color: #3e8f03;
}
.table-font-bold {
  font-weight: 600;
}
.prod-list-span {
  color: #701231;
  font-size: 40px;
  font-weight: 500;
}
.bold-head{
  color: #6d1cb8;
  font-weight: 700;
}
